/*style reset*/
html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "microsoft yahei",arial;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
a:hover {
	text-decoration: none;
}

/*common style*/
.header {
  margin-bottom: 2rem;
  width: 100%;
  height: 5rem;
  background-color: #ffde00;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 .1rem .5rem #858585;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5rem;
	background-color: #ffde00;
}
.bg-red {
	background-color: red;
}
.ta-center {
	text-align: center;
}
.no-m {
	margin: 0;
}
.no-p {
	padding: 0;
}
.bb {
	border-bottom:.1rem solid #ccc!important;
}
.txt-ellipsis {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.c-red{
	color: #d24444;
}
.c-green{
	color: #12940a;
}
.c-blue {
	color: #1a1a84;
}
/**********login and register input style*************/
.login-box {
	margin: 1rem auto;
	padding: 1rem;
	border: .1rem solid #ccc;
	width: 98%;
	border-radius: .5rem;
	box-shadow: 0 .2rem .2rem #ccc;
	transition:box-shadow .2s;
	-moz-transition:box-shadow .2s; /* Firefox 4 */
	-webkit-transition:box-shadow .2s; /* Safari and Chrome */
	-o-transition:box-shadow .2s; /* Opera */
}
.login-box:hover {
	box-shadow: 0 1rem 2.5rem #858585;
}
.login-box h4 {
	text-align: center;
	margin: 1rem auto;
	font-size: 2rem;
}
.login-input {
	position: relative;
	margin: 3rem auto;
	width: 50%;
	padding: .5rem;
}
.login-input i {
	position: absolute;
	top: 2rem;
	left: 0;
	margin-right: 1rem;
	font-size: 2.2rem;
}
.login-input input{
	border: none;
	margin-left: 2.8rem;
	margin-top: 2rem;
	height: 3rem;
	padding: 0;
	border-bottom: 1px solid #858585;
	width: calc(100% - 4rem);
	box-shadow: none;
	outline: none;
	background: transparent;
}
.login-input label {
    position: absolute;
    z-index: -1;
	top: 2.5rem;
	left: 3.5rem;
	font-size: 1.6rem;
	cursor: text;
	transition: top  .2s, font-size .2s;
	-moz-transition:top  .2s, font-size .2s; /* Firefox 4 */
	-webkit-transition:top  .2s, font-size .2s; /* Safari and Chrome */
	-o-transition:top  .2s, font-size .2s; /* Opera */
}
.login-input input:focus {
	border-bottom-color: #2196f3
}
.login-input input:focus + label{
	font-size: 12px;
	top: 0;
}
.login-input .hasvalue{
	font-size: 12px;
	top: 0;
}
.login-input input:focus ~ i{
	color: #2196f3;
	padding: 1px;
}



.groupbutton{
	position: absolute;
	top: 1rem;
	right: 1rem;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	text-align: center;
	background-color: #ccc;
	box-shadow: 0 0 .2rem #858585;
	cursor: pointer;
	transition: box-shadow 0.2s;
	-moz-transition:box-shadow .2s; /* Firefox 4 */
	-webkit-transition:box-shadow .2s; /* Safari and Chrome */
	-o-transition:box-shadow .2s; /* Opera */
}
.groupbutton i {
	line-height: 4rem;
	color: #fff;
}
.groupbutton:hover {
	box-shadow: 0 0 0.5rem #858585;
}


.closebutton{
	position: absolute;
	top: 2rem;
	right: 1rem;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	text-align: center;
	background-color: red;
	box-shadow: 0 0 .2rem #858585;
	cursor: pointer;
	transition: box-shadow 0.2s,top 0.2s;
	-moz-transition:box-shadow .2s, top 0.2s; /* Firefox 4 */
	-webkit-transition:box-shadow .2s, top 0.2s; /* Safari and Chrome */
	-o-transition:box-shadow .2s, top 0.2s; /* Opera */
}
.closebutton i {
	line-height: 4rem;
	color: #fff;
}
.closebutton:hover {
	box-shadow: 0 0 1rem #858585;
	top: 1.9rem;
}
/************chatBox**************/
.chatbox{
	margin: 1rem 0;
	padding: 1rem;
	min-width: 20rem;
	width: 60%;
	border: .1rem solid #ccc;
	box-shadow: 0 0 .5rem #ccc;
}
.chatbox .userimg {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}
.chatbox .name {
	margin:0 1rem; 
	line-height: 3rem;
	font-size: 1.4rem;
	color: #858585;
}
.chatbox .time {
	line-height: 3rem;
	font-size: 1.4rem;
	color: #858585;
}
.chatbox .content {
	margin: 2rem 0rem;
	padding: 0 2rem;
	font-size: 1.6rem;
	text-align: justify;
}

/************hint****************/
.hint {
	margin: 1rem 0;
	width: 100%;
	text-align: center;
}
.hint span {
	display: inline-block;
	padding: 1rem 3rem;
	border-radius: 25px;
	background-color: #65B174;
}